services:
  postgres:
    image: postgres:16
    container_name: postgres_warehouse
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: postpass
      POSTGRES_DB: warehouse
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
